.button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  padding: 19px 40px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basik-light;
  background-color: $basik-accent;

  &:hover,
  &:focus {
    background-color: $accent-hover;
  }
}
