.buy-trip {
  display: none;
  width: 320px;
  margin: 0 auto;
  background-color: $second-light;

  @media (min-width: $tablet-width) {
    width: 720px;
    height: 444px;
    background: $second-light url("../img/modal-bg.jpg") no-repeat;
  }

  &--active {
    display: block;
    position: fixed;
    top: calc(50% - 222px);
    left: 0;
    z-index: 99;

    @media (min-width: $tablet-width) {
      left: calc(50% - 360px);
    }
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 100px 16px 185px;

    @media (min-width: $tablet-width) {
      width: 386px;
      margin-left: auto;
      padding: 72px 60px 89px 0;
    }
  }
  &__close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    border: none;
    outline: none;
    background-color: $second-light;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 10px;
      width: 22px;
      height: 1px;
      background-color: $toggle-closed;
      cursor: pointer;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;

    @media (min-width:$tablet-width) {
      width: 267px;
      margin-left: auto;
    }
  }

  &__form {
    @media (min-width:$tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 267px;
      margin-left: auto;
    }
  }
  &__form input {
    @media (min-width:$tablet-width) {
      flex-shrink: 1;
    }
  }
  &__form button {
    @media (min-width:$tablet-width) {
      width: 174px;
      margin: 0 auto;
    }
  }
}
