.buy-trip {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.6);
  z-index: 5;

  &--active {
    display: flex;
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    width: 320px;
    padding: 100px 16px 185px;
    background-color: $second-light;

    @media (min-width: $tablet-width) {
      width: 720px;
      padding: 72px 60px 89px 0;
      background: #fbf8f8 url(../img/modal-bg.jpg) no-repeat;
    }
  }
  &__close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    border: none;
    outline: none;
    background-color: $second-light;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 10px;
      width: 22px;
      height: 1px;
      background-color: $toggle-closed;
      cursor: pointer;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;

    @media (min-width:$tablet-width) {
      width: 267px;
      margin-left: auto;
    }
  }

  &__form {
    @media (min-width:$tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 267px;
      margin-left: auto;
    }
  }
  &__form input {
    @media (min-width:$tablet-width) {
      flex-shrink: 1;
    }
  }
  &__form button {
    @media (min-width:$tablet-width) {
      width: 174px;
      margin: 0 auto;
    }
  }
  & .form__invalid--email {
    top: 55px;
    left: 0;
  }
}
