.card-description-and-feedback {
  &__item {
    display: none;

    &--active {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
      align-items: center;

      &--active {
        display: flex;
      }
    }
  }
  &__wrapper-description{
    width: 288px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 16px;

    @media (min-width: $tablet-width) {
      width: 726px;
      padding: 0 21px;
      margin-bottom: 30px;
    }
    @media (min-width: $desktop-width) {
      width: 425px;
      margin: 0;
      margin-bottom: 0;
      margin-right: 45px;
      padding: 0 0;
      text-align: left;
    }
  }
  &__title-description {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: $second-dark;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 45px;
    }
    @media (min-width: $desktop-width) {
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 20px;
      font-size: 55px;
      font-weight: 600;
      line-height: 90px;
      letter-spacing: -1.245px;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 175px;
        height: 3px;
        background-color: $basik-accent;
      }
    }
  }
  &__text-description {
    letter-spacing: -0.466667px;
    color: $basic-dark;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-bottom: 20px;
    }
    @media (min-width: $desktop-width) {
      width: 370px;
      margin-bottom: 50px;
    }
  }

  &__button {
    border: none;
    outline: none;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 250px;
    }
    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      height: 75px;
      padding: 30px 40px;
      font-size: 11px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 2px;
    }
  }

  &__wrapper-feedback {
    position: relative;
    display: none;
    margin-bottom: 111px;
    height: 415px;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 430px;
      height: 596px;
      margin-bottom: 0;
    }

    &--active {
      display: flex;
    }
  }

  &__wrapper-feedback--greece {
    background: $dodgerBlue url("../img/greece-bg.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      background: url("../img/greece-bg@2x.jpg") no-repeat;
      background-size: 1423px auto;
      background-position: 50% 50%;
      background-size: cover;
    }

    @media (min-width: $tablet-width) {
      background: $dodgerBlue url("../img/greece-bg.jpg") no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
      background: url("../img/greece-bg@2x.jpg") no-repeat;
      background-size: 2846px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $desktop-width) {
      background: $dodgerBlue url("../img/greece-bg-maxi.jpg") no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
      background: url("../img/greece-bg-maxi@2x.jpg") no-repeat;
      background-size: 860px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &__wrapper-feedback--albania {
    background: $dodgerBlue url("../img/albania-mini.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      background: url("../img/albania-bg-maxi.jpg") no-repeat;
      background-size: 430px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) {
      background: $dodgerBlue url("../img/albania-bg-maxi.jpg") no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
      background: url("../img/albania-bg-maxi@2x.jpg") no-repeat;
      background-size: 860px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &__wrapper-feedback--macedonia {
    background: $dodgerBlue url("../img/macedonia-mini.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      background: url("../img/macedonia-bg-maxi.jpg") no-repeat;
      background-size: 430px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) {
      background: $dodgerBlue url("../img/macedonia-bg-maxi.jpg") no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
      background: url("../img/macedonia-bg-maxi@2x.jpg") no-repeat;
      background-size: 860px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &__wrapper-feedback--montenegro {
    background: $dodgerBlue url("../img/montenegro-mini.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      background: url("../img/montenegro-bg-maxi.jpg") no-repeat;
      background-size: 430px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) {
      background: $dodgerBlue url("../img/montenegro-bg-maxi.jpg") no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
      background: url("../img/montenegro-bg-maxi@2x.jpg") no-repeat;
      background-size: 860px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &__wrapper-feedback--croatia {
    background: $dodgerBlue url("../img/croatia-mini.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      background: url("../img/croatia-bg-maxi.jpg") no-repeat;
      background-size: 430px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) {
      background: $dodgerBlue url("../img/croatia-bg-maxi.jpg") no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
      background: url("../img/croatia-bg-maxi@2x.jpg") no-repeat;
      background-size: 860px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  &__container {
    position: absolute;
    content: "";
    top: 50px;
    left: calc(50% - 134px);
    width: 268px;
    padding: 30px 20px 34px;
    box-sizing: border-box;
    background-color: $basik-light;

    @media (min-width: $tablet-width) {
      width: 382px;
      padding: 30px;
      top: 80px;
      left: calc(50% - 191px);
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      position: initial;
      margin-right: -585px;
    }
  }

  &__title-feedback {
    position: relative;
    margin: 0;
    margin-bottom: 31px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.691667px;
    color: $second-dark;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 80px;
      width: 68px;
      height: 1px;
      background-color: $basik-accent;

      @media (min-width: $tablet-width) {
        left: 0;
      }
    }
  }

  &__text-feedback {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: -0.408333px;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }
  }

  &__wrapper-client {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }

  &__client-foto {
    width: 38px;
    height: 38px;
    margin-bottom: 1px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      margin-right: 16px;
    }
  }

  &__client-name {
    margin: 0;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.466667px;
    color: $second-dark;
  }
}
