.description-and-feedback {
  &__wrapper-nav {
    padding: 0 16px;
    padding-right: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    &__wrapper-nav {
      padding: 0 0 0 21px;
      margin-bottom: 30px;
    }
  }
  @media (min-width: $desktop-width) {
    width: 1280px;
    margin: 0 auto;
    &__wrapper-nav {
      width: 900px;
      margin-right: auto;
      margin-bottom: 80px;
      padding: 0 0 0 55px;
    }
  }
}
