.form {
  position: relative;

  &__label--phone {
    position: absolute;
    top: 17px;
    left: 26px;
    font-size: 14px;
    line-height: 17px;
    color: $link-dark;
    &::before {
      content: "*";
      position: absolute;
      top: -7px;
      left: -10px;
      width: 6px;
      height: 6px;
      font-size: 17px;
      color: $basik-accent;
    }
  }
  &__input {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    height: 50px;
    border: 1px solid $nav-dark;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: $title-dark;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      flex-basis: 269px;
    }

    &:invalid {
      border: 1px solid $basik-accent;
    }
  }
  &__input--phone {
    padding-left: 51px;
  }

  &__button {
    border: none;
    outline: none;

    @media (min-width: $tablet-width) {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__invalid {
    display: none;
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 12px;
    line-height: 15px;
    color: $basik-accent;
  }
  &__invalid--email {
    top: 55px;
  }
}

.form__input::-webkit-input-placeholder {
  color: $title-dark;
}
