.form-send-ok {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.6);
  z-index: 5;

  &[hidden] {
    display: flex;
    visibility: hidden;
  }

  &__wrapper {
    box-sizing: border-box;
    position: relative;
    width: 320px;
    padding: 100px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $second-light;

    @media (min-width: $tablet-width) {
      width: 720px;
      padding: 179px 165px;
    }
  }

  &__close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    border: none;
    outline: none;
    background-color: $second-light;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 10px;
      width: 22px;
      height: 1px;
      background-color: $toggle-closed;
      cursor: pointer;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  &__text {
    margin: 0;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-weight: 500;
      font-size: 25px;
      line-height: 43px;
      color: $title-dark;
    }
  }
}
