.gallery {
  &__item {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 35px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.415px;
    color: $second-dark;
    text-decoration: none;
    background-color: $gallery-hover;

    @media (max-width: $tablet-width-only) {
      height: 425px;
    }

    & img,
    & span {
      z-index: 1;
    }

    &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $gallery-hover;
      z-index: 2;
    }

    &:hover::after {
      content: "смотреть подробнее";
      position: absolute;
      display: block;
      top: 177px;
      left: 10px;
      padding: 30px 25px;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $basik-light;
      border: 1px solid  $basik-light-opacyti;
      z-index: 2;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    padding: 16px 0;
    background-color: $basik-light;

    width: 215px;
    @media (max-width: $tablet-width-only) {
      left: 36px;
    }
  }
}
