.gallery {
  @media (min-width: $tablet-width) {
    &__list {
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
    }
  }
  @media (min-width: $desktop-width) {
    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 35px;
    }
    @media (min-width: $desktop-width) {
      width: 350px;
      height: 430px;
    }

    @media (max-width: $tablet-width-only) {
      &:last-child:nth-child(2n-1) {
        grid-column: 1/-1;
        justify-self: stretch;
      }
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 100px;
      margin-right: 20px;
      box-sizing: border-box;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.415px;
    color: $second-dark;
    text-decoration: none;
    background-color: $gallery-hover;

    @media (max-width: $tablet-width-only) {
      height: 425px;
    }
    @media (min-width: $desktop-width) {
      height: 430px;
    }

    & img,
    & span {
      z-index: 1;
    }

    &:hover::before,
    &:focus::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $gallery-hover;
      z-index: 2;
    }

    &:hover::after,
    &:focus::after  {
      content: "смотреть подробнее";
      position: absolute;
      display: block;
      top: 177px;
      left: 9px;
      padding: 30px 25px;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $basik-light;
      border: 1px solid  $basik-light-opacyti;
      z-index: 2;

      @media (min-width: $desktop-width) {
        left: 42px;
      }
    }
  }

  &__title {
    position: absolute;
    bottom: -1px;
    padding: 16px 0;
    background-color: $basik-light;

    width: 215px;
    @media (max-width: $tablet-width-only) {
      left: 36px;
    }
    @media (min-width: $desktop-width) {
      left: 68px;
    }
  }

  &__img {
    width: 288px;
    height: 425px;

    @media (min-width: $desktop-width) {
      width: 350px;
      height: 430px;
    }
  }
}
