.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
    padding-bottom: 74px;
  }

  &__wrapper {
    padding: 0 16px;

    @media (min-width: $tablet-width) {
      padding: 0 21px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media (min-width: $desktop-width) {
      padding: 0 55px;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  &__next-trips {
    display: grid;
    gap: 20px 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $line-footer;

    @media (min-width: $tablet-width) {
      flex-basis: 345px;
      grid-template-columns: repeat(3, 1fr);
      margin-right: 50px;
      padding-right: 49px;
      padding-bottom: 0;
      text-align: left;
      border-bottom: none;
      border-right: 1px solid $line-footer;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    &__next-trips-list:last-child:nth-child(4n-2),
    &__next-trips-list:last-child:nth-child(2n) {
      grid-column: 1/-1;
      justify-self: stretch;
    }
  }

  &__title {
    grid-column: 1/-1;
    justify-self: stretch;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: $link-dark;
  }
  &__title--trips {
    margin-bottom: 0;
  }

  &__next-trips-item {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }

  &__next-trips-item:last-child {
    margin-bottom: 0;
  }

  &__next-trips-item-link {
    color: $gallery-hover;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: $basik-accent;
    }
  }

  &__contacts {
    @media (min-width: $tablet-width) {
      text-align: left;
    }
    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 397px;
      padding-left: 65px;
      border-right: 1px solid $line-footer;
      border-left: 1px solid $line-footer;
    }
  }

  &__contacts-list {
    margin-bottom: 30px;
    padding-bottom: 29px;
    border-bottom: 1px solid $line-footer;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
  &__contacts-item {
    position: relative;
    margin-bottom: 21px;
  }
  &__contacts-item:last-child {
    margin-bottom: 0;
  }
  &__contacts-item a {
    color: $basik-accent;
  }
  &__link-email {
    display: block;
    padding-left: 45px;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    &:hover .page-footer__icon-email,
    &:focus .page-footer__icon-email{
      stroke: $basik-accent;
      fill: $basik-accent;
    }
  }
  &__icon-email {
    position: absolute;
    left: 5px;
    top: -2px;
    fill: none;
    stroke: $line-footer;
    fill: $line-footer;

    @media (min-width: $tablet-width) {
      left: 0;
    }
  }
  &__link-phone {
    line-height: 32px;
    @media (min-width: $tablet-width) {
      padding-left: 45px;
    }
    &:hover .page-footer__icon-phone,
    &:focus .page-footer__icon-phone {
      stroke: $basik-accent;
    }
  }
  &__icon-phone {
    position: absolute;
    left: 25px;
    top: -2px;
    fill: none;
    stroke-width: 2px;
    stroke: $line-footer;

    @media (min-width: $tablet-width) {
      left: 0;
    }
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: $footer-text;
  }

  &__corporate-travel {
    @media (min-width: $tablet-width) {
      padding-top: 30px;
      border-top: 1px solid $line-footer;
    }
    @media (min-width: $desktop-width) {
      padding-top: 0;
      width: 320px;
      text-align: left;
      border-top: none;
    }
  }
}
