.price {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 110px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 140px;
  }

  &__wrapper {
    width: 288px;
    margin: 0 auto;
    padding: 0 16px;

    @media (min-width: $tablet-width) {
      width: 726px;
      padding: 0 21px;
    }
    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 1280px;
      margin: 0 auto;
      padding: 0 55px;
      display: flex;
      align-items: center;
    }
  }

  &__description {
    margin-bottom: 40px;

    @media (min-width: $desktop-width) {
      width: 310px;
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
  }
  &__title::after {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 175px;
      height: 3px;
      background-color: $basik-accent;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
    line-height: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
    @media (min-width: $desktop-width) {
      width: 306px;
    }
  }

  &__title-contact {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    color: $link-dark;

    @media (min-width: $desktop-width) {
      font-size: 22px;
      text-align: center;
    }
  }

  &__link-contact {
    font-size: 18px;
    line-height: 32px;
    color: $basik-accent;

    @media (min-width: $desktop-width) {
      display: block;
      font-size: 20px;
      text-decoration: none;
      color: $black;
    }
  }

  &__link-contact:hover,
  &__link-contact:focus,
  &__link-contact:active {
    color: $black;

    @media (min-width: $desktop-width) {
      color: $accent-hover;
    }
  }

  &__link-contact:hover .price__icon-phone,
  &__link-contact:focus,
  &__link-contact:active {
    color: $accent-hover;
    stroke: $accent-hover;

    @media (min-width: $desktop-width) {
      color: $black;
      stroke: $black;
    }
  }

  &__icon-phone {
    display: none;
    @media (min-width: $desktop-width) {
      display: inline;
      vertical-align: top;
      margin-right: 25px;
      fill: none;
      stroke-width: 2px;
      stroke: $basik-accent;
    }
  }

  &__icon-phone:hover {
    @media (min-width: $desktop-width) {
      stroke: $black;
    }
  }

  &__list {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: start;
    }
    @media (min-width: $desktop-width) {
      order: -1;
      width: 770px;
      margin-right: 90px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 20px;
    padding-bottom: 95px;
    border: 1px solid $nav-dark;
    border-bottom: none;
    border-radius: 6px 6px 0 0;

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      width: 288px;
      height: 629px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 370px;
      height: 672px;
      margin-right: 30px;
      padding: 40px 30px 30px;
      border-bottom:  1px solid $nav-dark;
      border-radius: 6px 6px 6px 6px;
      background-color: $basik-light;
    }

    &:hover {
      padding: 28px 18px;
      padding-bottom: 95px;
      border: 3px solid $basik-accent;
      border-bottom: none;

      @media (min-width: $desktop-width) {
        padding: 38px 28px 28px;
        border-bottom: 3px solid $basik-accent;
      }
    }
    &:hover h3,
    &:hover span {
      color: $basik-accent;
    }
    &:hover .price__item-description-item::before {
      background: url("../img/icon/icon-check-hover.svg") no-repeat;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &__item-title {
    margin: 0;
    margin-bottom: 10px;
    line-height: 34px;
    color: $title-accent;

    @media (min-width: $desktop-width) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__item-price {
    display: block;
    margin-bottom: 11px;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    color: $title-accent;

    @media (min-width: $desktop-width) {
      font-size: 25px;
      line-height: 34px;
    }
  }

  &__item-container {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  &__item-title-description {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $second-dark;
    border-bottom: 1px solid $nav-dark;

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
      padding-bottom: 28px;
      text-align: left;
    }
  }

  &__item-description-list {
    padding-left: 30px;
  }

  &__item-description-item {
    position: relative;
    margin-bottom: 10px;
    line-height: 32px;
    color: $second-dark;
    text-align: left;

    @media (min-width: $desktop-width) {
      margin-bottom: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 12px;
      top: 10px;
      left: -30px;
      background: url("../img/icon/icon-check-accent.svg") no-repeat;
    }
  }

  &__item-button {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    outline: none;

    @media (min-width: $desktop-width) {
      position: static;
      padding: 30px 70px;
      margin: 0 auto;
      width: 310px;
    }
  }
}
