.questions {
  box-sizing: border-box;
  margin-bottom: 60px;
  background-color: $second-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 160px;
    padding: 0 55px;
    background-color: $basik-light;
  }

  &__wrapper {
    box-sizing: border-box;
    width: 288px;
    margin: 0 auto;
    padding: 50px 0;

    @media (min-width: $tablet-width) {
      width: 100%;
      padding: 70px 54px 69px 55px;
      background: $accent-hover url("../img/question-bg-medium.jpg") no-repeat;
      background-position: 0 50%;
      background-size: cover;
    }
    @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
      background: url("../img/question-bg-medium@2x.jpg") no-repeat;
      background-size: 1534px auto;
      background-position: 50% 50%;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0;
      width: 844px;
      background: $accent-hover url("../img/question-bg-maxi.jpg") no-repeat;
    }
    @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
      background: url("../img/question-bg-maxi@2x.jpg") no-repeat;
      background-size: 1688px auto;
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  &__container {
    @media (min-width: $tablet-width) {
      width: 658px;
      margin: 0 auto;
      padding: 50px;
      box-sizing: border-box;
      background-color: $second-light;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      margin-left: 459px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    color: $link-dark;

    @media (min-width: $tablet-width) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
    line-height: 24px;
    color: $link-dark;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }

  &__form {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}
