.watch-tour {
  @media (max-width: $tablet-width-only) {
    margin-bottom: 80px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 200px;
  }

  &__wrapper {
    @media (min-width: $tablet-width) {
      padding-top: 60px;
      padding-bottom: 83px;
      position: relative;
      background: url("../img/background-medium.jpg") no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktop-width) {
      padding-top: 0;
      padding-bottom: 0;
      background: url("../img/background-maxi.jpg") no-repeat;
      background-size: cover;
    }
  }

  &__container {
    @media (min-width: $tablet-width) {
      width: 398px;
      padding: 0 185px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 1280px;
      margin: 0 auto;
      padding: 185px 58px 290px 0;
    }
  }

  &__image-block {
    @media (max-width: $mobile-width-only) {
      box-sizing: border-box;
      height: 235px;
      padding: 0 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $dodgerBlue;
      background: url("../img/background-mini.jpg") no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 412px;
      margin-left: auto;
      margin-bottom: 30px;
    }
  }
  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $basik-light;

    @media (max-width: $mobile-width-only) {
      width: 288px;
    }

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 45px;
    }
    @media (min-width: $desktop-width) {
      font-size: 55px;
      line-height: 80px;
      letter-spacing: -1.10667px;
      text-align: left;
    }
  }
  &__title br {
    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }

  &__text-block {
    width: 288px;
    margin: 0 auto;

    & p {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;

      @media (min-width: $tablet-width) {
        margin: 15px 0;
        line-height: 27px;
        letter-spacing: -0.466667px;
        color: $basik-light;
      }
      @media (min-width: $desktop-width) {
        margin: 0 0;
        margin-bottom: 39px;
        text-align: left;
      }
    }

    @media (max-width: $mobile-width-only) {
      padding: 20px 16px;
      line-height: 27px;
      color: #2C2E3F;
    }
    @media (min-width: $tablet-width) and (max-width:$tablet-width-only) {
      width: 398px;
      margin: 0;
    }
    @media (min-width: $desktop-width) {
      width: 340px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
      margin-left: auto;
      margin-right: 70px;
    }
  }

  &__link {
    position: relative;
    text-align: left;
    &::after {
      content: "";
      position: absolute;
      right: 40px;
      top: 16px;
      width: 18px;
      height: 18px;
      background: url("../img/icon/icon-arrow-down.svg") no-repeat;
      @media (min-width: $desktop-width) {
        top: 30px;
      }
    }
    @media (min-width: $tablet-width) {
      width: 250px;
    }
    @media (min-width: $desktop-width) {
      width: 340px;
      height: 75px;
      padding: 30px 40px;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
    }
  }
}
