$basic-dark: rgba(44, 46, 63, 0.7);
$nav-dark: rgba(44, 46, 63, 0.3);
$second-dark: #2C2E3F;
$title-dark: #48494D;
$link-dark: #141517;
$basik-light: #ffffff;
$second-light: #FBF8F8;
$basik-accent: #FE7865;
$accent-hover: #F17D4B;
$toggle-closed: rgba(20, 21, 23, 0.2);
$gallery-hover: rgba(20, 21, 23, 0.6);
$title-accent: rgba(20, 21, 23, 0.7);
$basik-light-opacyti: rgba(255, 255, 255, 0.7);
$dodgerBlue: #1E90FF;

$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1279px;
$desktop-width: 1280px;

